<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137203139928-aa08b1l5oiup5bfhihqb25obt58kc3af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137203139928-aa08b1l5oiup5bfhihqb25obt58kc3af</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>137203139928-qg126s1oc6l0jnc6a2mr82t4t1cdgsvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTsZLOrjwrl0iKBsjA3BxB0Je3NGoLupc</string>
	<key>GCM_SENDER_ID</key>
	<string>137203139928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yolinx.gofast</string>
	<key>PROJECT_ID</key>
	<string>identity-5de1f</string>
	<key>STORAGE_BUCKET</key>
	<string>identity-5de1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137203139928:ios:b3b24fc82d638208ff912d</string>
</dict>
</plist>